.search {
    height: 101vh;
    display: flex;
    align-items: center;
    justify-content: center;
    & form {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
