<div class="search">
        <form method="POST" action="">
            <label for="serach-input">Từ khóa</label>
            <input type="text" name='q' class="search-input" placeholder="TỪ khóa cần tìm kiếm">
            <select name="gender" id="">
                <option value="chưa chọn">Chọn giới tính</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
            <button type="submit" class="search-btm">Tìm kiếm</button>
            
        </form>
        
           
       
</div>